# ============================================
#   Configuración de .NET y Visual Studio
# ============================================

# Archivos de configuración locales
appsettings.json
appsettings.Development.json
abmBackend/Properties/launchSettings.json

# Carpetas de compilación
bin/
obj/

# Archivos de Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Archivos temporales
*.tmp
*.temp

# Logs
*.log

# Archivos de publicación o generados automáticamente
*.publish.xml
*.pubxml
*.pubxml.user

# Archivos de respaldo
*.bak
*.orig

# ============================================
#   Fin de configuración
# ============================================
